fieldset {
    margin: 10px 0;
    padding: 10px 0;
}

fieldset div.flex-center > div {
    width: 50%;
}

fieldset div.flex-center > div+div {
    margin-left: 20px;
}


#__main-settings { width: 50%; }

select { width: 200px; }



fieldset#__font-settings { margin: 10px 10px 0 10px; }

section#__settings-panel { margin: 10px 0 0 0; }